header.header
	.header__wrapper
		.header__topline
			.header__logo
				a(href="#")
					img(src="./img/logotype.svg" alt="Logotype").header__logo-image
			nav.header__nav
				ul.header__list
					li
						a.header__nav-link(href="#") Home
					li
						a.header__nav-link(href="#") Services
					li
						a.header__nav-link(href="#") About us
					li
						a.header__nav-link(href="#") News
					li
						a.header__nav-link(href="#") Contact

		.header__jumbotron
			h1.header__heading Global management consulting agency
			p.header__subtext Growth doesn't always go the way you expect. Our strategy consultants can help you climb.
			button.header__start Get started
			button.header__learn Learn more
			button.header__profit Your profit
			.header__chart