section.service
	h2.service__header Our services
	p.service__subtext Our management consulting services focus on our clients' most critical issues and opportunities. We have proven a multiplier effect from optimizing the sum of the parts, not just the individual pieces.
	.service__tiles
		.service__tile
			.tile__wrapper
				i.tile__icon
				.tile__heading
				.tile__red
				p.tile__text