mixin tile(icon,heading,text)
	.tile
		.tile__wrapper
			i(class= "tile__icon--" + icon)
			.tile__heading= heading
			.tile__red
			p.tile__text= text


section.service
	.service__wrapper
		h2.service__heading Our services
		p.service__subtext Our management consulting services focus on our clients' most critical issues and opportunities. We have proven a multiplier effect from optimizing the sum of the parts, not just the individual pieces.
		.service__tiles
			+tile("perfomance", "Performance Improvement", "Enabling companies to grow revenue, improve margins and reposition quickly.")
			+tile("customer", "Customer Strategy & Marketing", "In-depth customer insights combined with economic and operational fundamentals.")
			+tile("technology", "Information Technology", "Realizing the full potential of IT resources, investments and assets.")
			+tile("potential", "Full Potential Transformation", "A cross-functional effort to alter the financial, operational and strategic trajectory of a business.")
			+tile("strategy", "Strategy", "Tailored solutions that deliver results and achieve sustained growth.")
			+tile("equity", "Private Equity", "Advising investors across the entire investment life cycle.")
			+tile("digital", "Digital", "Deliver on core strategy, delight customers and operate smarter and faster.")
			+tile("results", "Results Delivery", "Predicting, measuring and managing risk associated with change management")
