section.about
	h2.about__heading about us
	p.about__subtext SKOKOV is one of the world's leading management consulting firms. We care for our clients' business as our own, they know we're in this together
	.what
		h2.what__heading
		.what__red
		p.what__text
	.clients
		h2.clients__heading
	.team
		h2.team__heading