section.blend
	button.blend__play
	h2.blend__heading we blend the strategic with creative
	p.blend__subtext When someone asks what we do at SKOKOV, it’s tempting to point out our four-decade track record for helping to transform the world’s great companies into sharper, smarter, better versions of themselves. 
	