section.news
	.news__wrapper
		h2.news__heading news
		p.news__subtext Together, we find value across boundaries, develop insights to act on, and energize teams to sustain success. We're passionate about always doing the right thing for our clients, our people and our communities, even if it isn't easy.
		.news__tiles
			.news__tile-line
				.news__tile-image--big
					img(src="./img/news_1.jpg")
				.news__text-tile--first
					.news__text-heading Why financial institutions need a new IT model
					.news__text-red
					.news__text Why old IT models are unlikely to deliver the competitive edge that banks, insurers and wealth management firms need from technology
					.news__text-date 09.03.2014
				.news__tile-image--small
					img(src="./img/news_2.jpg")
			.news__tile-line
				.news__text-tile--second
					.news__text-heading Reimagining IT for an omnichannel world
					.news__text-red
					.news__text The technology that powers retail is evolving rapidly. Retailers and their IT groups will have to rise to stay ahead.
					.news__text-date 08.20.2014
				.news__tile-image--big
					img(src="./img/news_3.jpg")
				.news__text-tile--third
					.news__text-heading Making the most of generation assets in turbulent times
					.news__text-red
					.news__text A thorough review of a power generation portfolio informs decisions about how to reduce costs, raise revenues and make strategic plans.
					.news__text-date 08.27.2014
 

