section.form
	.form__subscribe
		h2.subscribe__heading skokov
		p.subscribe__text Thank you for your interest in SKOKOV. Please contact us using the information below. To locate contacts in the SKOKOV office closest to you, visit our office websites. To get the latest updates from SKOKOV, subscribe to a newsletter or connect with us on social media.
		.subscribe__red
			.subscribe__tiles
				.subscribe__tile-wrap
					i.subscribe__icon--map
					.subscribe__tile 43 gagarina street, kharkov, ukraine
				.subscribe__tile-wrap
					i.subscribe__icon--phone
					.subscribe__tile +38 (057) 777-05-05
				.subscribe__tile-wrap
					i.subscribe__icon--mail
					.subscribe__tile mynameisskokov@gmail.com
	.form__form
		h2.form__heading contact
		.form__red
		p.form__text Please contact us using contact form below.
		form
			input(type="text" placeholder="Name")
			input(type="email" placeholder="Email")
			input(type="text" placeholder="Subject")
			textarea(placeholder="Message")
			button(type="submit").form__submit Send