footer.footer
	.footer__wrapper
		p.footer__copyright © 2014 SKOKOV - all rights reserved
		.footer__social
			i.social__icon--linkedin
			i.social__icon--facebook
			i.social__icon--twitter
			i.social__icon--youtube