footer.footer
	.footer__wrapper
		p.footer__copyright © 2014 SKOKOV - all rights reserved
		.footer__social
			a(href="#")
				i.social__icon--linkedin
			a(href="#")
				i.social__icon--facebook
			a(href="#")
				i.social__icon--twitter
			a(href="#")
				i.social__icon--youtube